.html, body, .App{
    height: 100vh;
}
/* offcanvas menu */
#offCanvasMenu{
    display: none;
    position: absolute;
}
/* header */
#header{
    display: flex;
    align-items: center;
    padding: 0 25px;
}
/* logo */
#logo{
    flex: 1;
    text-align: center;
}
/* current */
#current{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* forecast */
#forecast{
    margin: 10px 0;
}
/* forecast first div */
#coverDirecHumid{
    display: flex;
    justify-content: space-evenly;
}
/* forecast days */
#forecastDays{
    display: flex;
    justify-content: space-evenly;
}

/* astronomy */
#astro{
    display: flex;
    justify-content: space-evenly;
}
/* medium devices and up */
@media (min-width: 768px) {

    .App{
        display: grid;
        grid-template-rows: 50px 1fr 1fr;
        grid-template-areas:
                    "offmenu offmenu"  
                    "header header"
                    "current forecast"
                    "current astro"                
        ;
    }

    #offCanvasMenu{
        grid-area: offmenu;
    }

    #header{
        grid-area: header;
    }

    #current{
        grid-area: current;
    }

    #forecast{
        grid-area: forecast;
        margin: 10px 0;
    }

    #astro{
        grid-area: astro;
        margin: 10px 0;
    }

}