/***************************************************** current */
/* container */
.current {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
/* current side A */
.currentSideA {
    width: 40%;
}
/* current weather image */
.currentWeatherImg {
    width: 100%;
    height: 150px;
}
/* current temperature */
.current h1 {
    font-size: 100px;
    font-weight: 400;
    margin: 0;
}
/* current temp degree symbol */
.current h1 sup {
    color: #D2D0A0;
}
/* condition text */
.current div p:first-of-type {
    margin-top: 0;
}
