/***************************************************** header */
/* container */
.header {
    display: flex;
    align-items: center;
    padding: 0 25px;
}
/* logo container */
.logo {
    flex: 1;
    text-align: center;
}
/* log image */
.logo img{
    width: 200px;
    height: 60px;
}
/* menu button hover */
.menuButton svg:hover {
    fill: rgb(119, 117, 59);
}
.menuButton {
    cursor: pointer;
}

/* medium devices and up */
@media (min-width: 1200px) {
    .logo img{
        width: 350px;
        height: 50px;
    }
}
